.description {
    max-width: 984px;
    margin: 0 auto;
}

@media all and (max-width: 1025px) {
    .description {
        max-width: 928px;
        margin: 0 48px;
    }
}

@media all and (max-width: 769px) {
    .description {
        max-width: 720px;
        margin: 0 24px;
    }
}

@media all and (max-width: 321px) {
    .description {
        margin: 0 16px;
    }
}