.gallery {
    max-width: calc(100% - 96px);
    width: 100%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, fit-content(284px));
    grid-template-rows: repeat(3, min-content);
    gap: 16px;
}

@media all and (max-width: 1025px) {
    .gallery {
        grid-template-columns: repeat(3, fit-content(300px));
        gap: 14px;
    }
}

@media all and (max-width: 769px) {
    .gallery {
        max-width: calc(100% - 48px);
        grid-template-columns: repeat(2, fit-content(352px));
        gap: 16px;
    }
}

@media all and (max-width: 701px) {
    .gallery {
        max-width: calc(100% - 32px);
        grid-template-columns: repeat(1, fit-content(288px));
        gap: 12px;
    }
}