.place__link-title {
    margin: 0 0 12px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 2px;
    color: rgba(170, 170, 170, 1);
}

@media all and (max-width: 769px) {
    .place__link-title {
        line-height: 1;
    }
}