.header__subtitle {
    margin: 0 auto;
    margin-bottom: 64px;
    max-width: 640px;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    color: #fff;
    text-align: center;
}

@media all and (max-width: 1025px) {
    .header__subtitle {
        margin-bottom: 56px;
    }
}

@media all and (max-width: 700px) {
    .header__subtitle {
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 1.25;
    }
}