.lead__main-illustration {
    background-image: url(../../../images/lead-section/lead-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    max-width: 984px;
    min-height: 615px;
}

@media all and (max-width: 1025px) {
    .lead__main-illustration {
        max-width: 928px;
        min-height: 580px;
    }
}

@media all and (max-width: 769px) {
    .lead__main-illustration {
        max-width: 768px;
        min-height: 480px;
    }
}

@media all and (max-width: 701px) {
    .lead__main-illustration {
        max-width: 768px;
        min-height: 200px;
    }
}

@media all and (max-width: 321px) {
    .lead__main-illustration {
        max-width: 320px;
    }
}