.place {
    /* max-width: calc(100% - 296px); */
    max-width: (100%- 296px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, fit-content(484px));
    grid-template-rows: repeat(2, min-content);
    justify-content: center;
    gap: 48px 40px;
}

@media all and (max-width: 1025px) {
    .place {
        max-width: calc(100% - 96px);
        /* margin: 0 48px; */
        grid-template-columns: repeat(2, fit-content(456px));
        gap: 48px 32px;
    }
}

@media all and (max-width: 769px) {
    .place {
        max-width: calc(100% - 48px);
        /* margin: 0 24px; */
        grid-template-columns: repeat(2, fit-content(352px));
        gap: 48px 28px;
    }
}

@media all and (max-width: 701px) {
    .place {
        max-width: calc(100% - 32px);
        /* margin: 0 16px; */
        grid-template-columns: fit-content(320px);
        gap: 32px;
    }
}