.page__footer {
    margin: 92px 48px 24px;
}

@media all and (max-width: 769px) {
    .page__footer {
        margin: 88px 24px 24px;
    }
}

@media all and (max-width: 321px) {
    .page__footer {
        margin: 64px 16px 24px;
    }
}